
appcache/*
steamdir/*
userdata/*
steamapps/*
siteserverui/*
public/*
package/*
logs/*
dumps/*
depotcache/*
config/*
bin/*
steamcmd.exe.old
steamcmd.exe.1.delete
steamconsole.dll
steamclient.dll
vstdlib_s.dll.old
vstdlib_s.dll
tier0_s.dll.old
tier0_s.dll
steamerrorreporter.exe.old
steamerrorreporter.exe
steamcmd.exe
steam.dll
bufferscript
crashhandler.dll.old
crashhandler.dll
.ntfs_transaction_failed
.crash
modlist.csv
BarotraumaticList.xml
.vscode/launch.json
BarotraumaticList.csv
.~lock.BarotraumaticList.csv\#
ConfigBackup/**
