.vscode/**
__pycache__/**
**sync-conflict**
LocalMods**
backup**
ModManager/__pycache__**
steamcmd**
managed_mods.txt
config_player.xml
collection_save.txt
LuaCSSetupConfig.xml
download_script_exmple_for_TS.sh
test_fix_barodev_moment/**
ModManagerLogs/**
ModManager.log
config.xml
